/* {
  box-sizing: border-box;
}*/

body,
html {
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#logo {
  position: absolute;
  padding-top: 17px;
  padding-left: 72px;
  width: 127px;
  height: 29px;
}
#search-bar {
  position: relative;
  margin-top: 19px;
  margin-left: 471px;
  width: 113px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0);
  border-style: hidden;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: darkgray;
}
#input_img {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: 23px;
  margin-left: -5px;
  background-color: rgba(0, 0, 0, 0);
  border-style: hidden;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: darkgray;
}

#buy-excerpt {
  margin-left: 28px;
}

#login {
  margin-left: 14px;
}

#signup {
  color: #ffffff;
  font-size: 11px;
  margin-left: 14px;
  width: 63px;
  height: 22px;
  background-color: darkorange;
  border: none;
  border-radius: 1px;
}

#header-download {
  position: relative;
  float: right;
  color: #ffffff;
  font-size: 11px;
  margin-right: 102px;

  width: 126px;
  height: 31px;
  background-color: darkorange;
  border: none;
  border-radius: 1px;
}
#buy-excerpt,
#login,
.company-info,
.company-detail {
  color: darkgrey;
  text-decoration: none;
}
#lang {
  margin-left: 14px;
  width: 42px;
  height: 22px;
}
.nav-bar {
  position: absolute;
  background-position: bottom;
  vertical-align: bottom;

  margin-top: 80px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 11%;
  background-color: #ffffff;
  width: 747px;
  height: 55px;
}

.company-info {
  margin-top: 60px;
  margin-left: 108px;
  color: #ffffff;
}
.company-detail {
  float: left;
  margin-top: 10px;
  color: #ffffff;
  margin-left: 108px;
  width: 747px;
}
.company-detail-header span,
.company-detail-entry span {
  display: inline-block;
  width: 200px;
  line-height: 14px;
}
.company-detail-entry span {
  font-size: small;
  vertical-align: top;
  padding-top: 5px;
}

.header-class {
  font-size: smaller;
  position: relative;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 306px;
  /*background-color: black;*/
  background-image: url(../images/BG.png);
  background-size: contain;
  background-repeat: no-repeat;
}



.nav-bar {
  background-color: #ffffff;
  overflow: hidden;
}

.nav-bar a {
  float: left;
  color: #333333;
  text-align: center;
  padding: 4.5%;
  padding-top: 3%;
  padding-bottom: 2%;
  text-decoration: none;
  font-size: 12px;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-bar a.active {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: darkorange;
}

.btn:hover {
  background-color: rgb(250, 251, 252);
  color: #000000;
}



#social {
  color:cornsilk;
  padding: 5px;
  font-size: 12px;
  width: 15px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa{
  padding:0%;
  width:auto;
  font-family: Verdana;
}



.footer-class {
  content: "";
  display: block;
  clear: both;
  position: relative;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 179px;
  background-color: #161a28;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-social{
  position:absolute;
  margin-left: 71px;
  vertical-align: bottom;
  bottom: 40px;
}
.info-line{
  float:left;
  width:50%;
  
}
.nav-line{
  padding:20px;
  display:table;
  float:right;
  width:50%;
  display:table;
  
}
.nav1,.nav2,.nav3{
  display:table-row;
  float:left;
  width: 33%;

}
.nav1 a, .nav2 a, .nav3 a{
  display:table-row;
  color:darkgray;
  text-decoration: none;
  font-size: 12px;
  line-height: 30px;
}
.nav1 a:hover, .nav2 a:hover, .nav3 a:hover {
  color: #ffffff;
}

.bottom-bar{
  position:absolute;
  bottom: 2px;
  display:inline;
  width:100%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);
  border-style: hidden;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: darkgray;
  text-align: center;
  
}

.bottom-bar a{
  color:darkgray;
  text-decoration: none;
  font-size: 12px;
}
.bottom-bar a:hover{
  color: #ffffff;
  
}